<div class=" navbar navbar-fixed-top navbar navbar-default">
    <div class="navbar-inner">
        <div class="container">
            <a href="{{ url_for('kwikiapp.home') }}" class="brand">{{ appname() }}</a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('kwikiapp.note') }}">Note</a>
                </li>
                </li>
                <li>
                   <a href="{{ url_for('kwikiapp.notemd') }}">Note MD</a>
                </li>
            </ul>
        </div>
    </div>
</div>
