{% extends 'base.html' %}

{% block title %}Search Results{% endblock title %}
{% block main %}

    <div class="content">
        <!-- put in header here -->

        <table id="simpleTable" class="table table-striped table-hover text-center">
            <thead>
                <tr class="row">
                    <th data-sort="string">Field</th>
                    <th data-sort="string">Value</th>
                </tr>
            </thead>
            {% if results %}
                <tbody>
                    {% for result in results %}
                        {% for key, value in result.items() %}
                            <tr class="row">
                                <td>{{ key|upper|replace("_", " ") }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>

{% endblock main %}
