<div class=" navbar navbar-fixed-top navbar navbar-default">
  <div class="navbar-inner">
    <div class="container">
      <a href="{{ url_for('home') }}" class="brand">{{ appname() }}</a>
      {% if current_user.is_authenticated() %}
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">placeholder<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ url_for('home') }}">placeholder</a>
                <a href="{{ url_for('home') }}">placeholder</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">placeholder<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ url_for('home') }}">placeholder</a>
                <a href="{{ url_for('home') }}">placeholder</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="{{ url_for('home') }}" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
          </li>
        </ul>
      {% else %}
        <ul class="nav pull-right">
          <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
</div>
